*{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(media/Resized_IMG_2509-Photoroom.png);
    background-size: cover;
    background-position: center;
}

.container{
    height: 200vh;
    width: auto;
    position: relative;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
    position: fixed;
    overflow: hidden;
    
}

.logo{
    margin-top: -50px;
    width: 140px;
    cursor: pointer;

}

.navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar li{
  height: 50px;
  
}

.navbar a{
    height: 100%;
    padding: 10px 20px; /* Adjust padding for better spacing */
    margin: 0 10px; /* Add horizontal margin for space between links */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.navbar a:hover{
    background-color: white;
}
.sidebar {
    position: fixed; /* Fixed position for sidebar */
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(3, 0, 0, 0.171);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:  50px 22px; /* Add padding for inner spacing */
    transition: transform 0.3s ease; /* Smooth transition for showing/hiding */
}
.sidebar ul{
    width: 100%;
    list-style: none;
}
.sidebar a{
    height: 100%;
    padding: 40px 40px; /* Adjust padding for better spacing */
    margin: 0 10px; /* Add horizontal margin for space between links */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover{
    background-color: grey;
    transition: 0.7s ease-in;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-family: fantasy;
    font-size: 90px;
    color: rgb(245, 7, 7);
    line-height: 110px;
    float: left;
}

.right-col{
float: right;
margin-right: 6%;
margin-top: 110px;
display: flex;
align-items: center;
}

.right-col p{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor: pointer; 
}

@media(max-width: 800px){
    .logo{
        display: none;
    }
    .hideOnMobile{
        display:none;
    }
}