*{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(media/Resized_IMG_2509-Photoroom.png);
    background-size: cover;
    background-position: center;
}

.container{
    height: 200vh;
    width: auto;
    position: relative;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
    position: fixed;
    overflow: hidden;
    
}

.logo{
    margin-top: -30px;
    width: 140px;
    cursor: pointer;
}

.navbar ul li{
    right: auto;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: red;
    font-size: 15px;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-family: fantasy;
    font-size: 90px;
    color: rgb(245, 7, 7);
    line-height: 110px;
    float: left;
}

.right-col{
float: right;
margin-right: 6%;
margin-top: 110px;
display: flex;
align-items: center;
}

.right-col p{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor: pointer; 
}